body {
  background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

.grid-item {
  flex: 0 0 25%;
  height: 25%;
  background-color: #f3f3f3;
}

button {
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
