.grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    height: 960px;
    width: 960px;
}

.grid-item {
  flex: 0 0 25%;
  height: 25%;
  background-color: blue;
}

button {
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
